body{
  width: 1600px;
  height: 900px;

  background: center / cover no-repeat url('../img/thumb.jpg');
}

.img {
  position: absolute;
  left: 600px;
  top: 400px;
  width: 178px;
  height: 164px;
}